.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  height: fit-content;
}
.section {
  border: none;
  height: fit-content;
  min-height: 90rem;
  width: fit-content;
  max-width: 80rem;
  display: flex;
  /* justify-content: left; */
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
  transition: 1s ease-in-out;
  transform: translate(30vw, 0);
}
.section.visible {
  transform: translate(0, 0);
  opacity: 1;
}
.text {
  font-size: 1.8rem;
  font-weight: 100;
  margin: 0;
  white-space: pre-wrap;
  filter: drop-shadow(-6px 6px 1px #000000cc);
  max-width: 60rem;
  border-radius: 2rem;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-content: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 40rem;
}
.skills:nth-child(n) {
  height: 8rem;
}
.coding_section {
  flex-direction: column;
  gap: 1rem;
  font-size: 1px;
  align-content: center;
  filter: drop-shadow(-10px 6px 1px #000000);
  scale: 0.8;
}
.console {
  border-radius: 2rem;
  display: flex;
  font-size: 1.6rem;
  padding: 1.8rem;
  gap: 1rem;
  backdrop-filter: brightness(55%);
}
.output {
  backdrop-filter: brightness(95%);
  font-size: 1.6rem;
}
.hero {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 200;
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: 400;
  z-index: 1;
  border-radius: 2rem;
  transition: 0.8s ease-in-out;
  transform: translate(-30vw, 0);
  opacity: 0;
  width: 52.8rem ;
}
.hero h1,
h2 {
  font-size: 3.2rem;
  font-weight: 200;
}
.hero h2 {
  display: inline-flex;
  gap: 1rem;
}
.hero b {
  font-size: 6.4rem;
  color: #1cefff;
  font-weight: 100;
}
.hero.visible {
  transform: translate(0, 0);
  opacity: 1;
}
.introduction {
  filter: drop-shadow(0 0 1rem #000000cc);
  font-weight: 100;
}
.contact {
  padding: 3.2rem 0 0 0;
  display: flex;
  gap: 1.6rem;
  justify-content: space-around;
  width: 100%;
}
.contact_button {
  width: 50%;
  height: fit-content;
  text-decoration: none;
  text-align: center;
  background-color: var(--moonlit-asteroid-900);
  color: var(--main-color-50);
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  font-family: Rubik;
  transition: 0.4s;
}
.contact_button:hover {
  background-color: var(--main-color-50);
  color: var(--moonlit-asteroid-900);
}
@media screen and (max-width: 800px) {
  .hero {
    width: 100% ;
  }
  .blueprint {
    scale: 1.2;
  }
}
