.body {
  display: flex;
  font-size: 1.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
  border-radius: 0.6rem;
  direction: rtl;
  transition: max-height 0.4s, max-width 0.4s, width 0.4s, scale 0.4s,
    opacity 0.2s transform 0.4s;
  /* box-shadow: inset 0px 0px 4px 2px #00000033; */
  max-height: 100%;
  max-width: 0;
  scale: 0;
  opacity: 0;
  transform: translate(-300px, 0);
  position: sticky;
  gap: 0.4rem;
  padding: 0;
}
.body::-webkit-scrollbar {
  width: 0.2rem;
  display: inside;
  background-color: transparent;
  transition: 0.4s;
}
.body::-webkit-scrollbar-corner {
  display: none;
}
.body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--main-color-400);
}
.body.active {
  max-height: calc(100vh - 14rem);
  max-width: 16rem;
  width: 100%;
  scale: 1;
  opacity: 1;
  transform: translate(0, 0);
  padding: 0.8rem;
}
.item {
  padding: 0.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  direction: ltr;
  text-transform: ellipsis;
  color: white;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
  width: available;
}
.item.expanded {
  padding: 0.8rem 1.6rem;
  justify-content: left;
}
.header {
  display: flex;
  position: sticky;
  flex-direction: flex-start;
  justify-content: center;
  direction: ltr;
  width: 100%;
  top: 0;
  background-color: var(--moonlit-asteroid-900);
  border-radius: 0.4rem;
  z-index: 1;
}
.header.expanded {
  justify-content: left;
}
.header i {
  width: fit-content;
}
.icon {
  transition: 0.2s;
}
.icon.hidden {
  scale: 0;
  width: 0;
  transform: translate(-30px, 0);
}
.item:hover {
  color: var(--main-color-500);
}
.item.active {
  border-bottom: 2px solid var(--main-color-300b);

}
.inner {
  cursor: hand;
  text-decoration: none;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  position: relative;
  direction: ltr;
  color: inherit;
  font-family: "Rubik";
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  white-space: nowrap;
  line-height: 1.6rem;
  transform: translate(-180px, 0);
  opacity: 0;
  max-width: 0;
  max-height: 1.4rem;
  margin-right: 0;
  scale: 0;
}
.inner.show {
  transform: translate(0, 0);
  scale: 1;
  opacity: 1;
  max-width: 25rem;
}
