
.hero {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 200;
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: 400;
  z-index: 1;
  border-radius: 2rem;
  transition: 0.8s ease-in-out;
  transform: translate(-30vw, 0);
  opacity: 0;
  width: fit-content;
}
.hero h1,
h2 {
  font-size: 3.2rem;
  font-weight: 200;
}
.hero h2 {
  display: inline-flex;
  gap: 1rem;
}
.hero b {
  font-size: 6.4rem;
  color: black;
  font-weight: 100;
}
.hero.visible {
  transform: translate(0, 0);
  opacity: 1;
}
.introduction {
  filter: drop-shadow(0 0 1rem #000000cc);
  font-weight: 100;
}
.introduction > h1 > b {
  background-color: rgba(240, 240, 240, 0.686);
}
.contact {
  padding: 3.2rem 0 0 0;
  display: flex;
  gap: 1.6rem;
  justify-content: space-around;
  width: 100%;
}
.contact_button {
  width: 50%;
  height: fit-content;
  text-decoration: none;
  text-align: center;
  background-color: var(--moonlit-asteroid-900);
  color: var(--main-color-50);
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  font-family: Rubik;
  transition: 0.4s;
  z-index: 1000;
}
.contact_button:hover {
  background-color: var(--main-color-50);
  color: var(--moonlit-asteroid-900);
}
@media screen and (max-width: 800px) {
  .hero {
    width: 100%;
  }
  .blueprint {
    scale: 1.2;
  }
}
