.svg {
  width: 100%;
  transition: 0.4s;
  fill: #b8e1e9;
}
.svg:hover {
  scale: 1.2;
}
.github:hover {
  fill: #181717;
}
.linkedin:hover {
  fill: #0a66c2;
}
.jest {
  fill: #c21325;
}
.react {
  fill: #61dafb;
}
.styled_components {
  fill: #db7093;
}
.nextjs {
  fill: #000000;
}
.react_router {
  fill: #ca4245;
}
.webpack {
  fill: #8dd6f9;
}
.axios {
  fill: #5a29e4;
}
