.dropzone_container {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropzone_body {
  width: 46rem;
  height: 36rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  border-radius: 2rem;
  backdrop-filter: brightness(100%);
  padding: 2rem;
  position: relative;
  border: black 0.2rem solid;
  transition: 0.4s;
  overflow: hidden;
}

.dropzone_body:hover {
  border: #00ffc8 0.2rem solid;
}

.dropzone_body:hover + .dropzone_label {
  top: 0;
  font-size: 1.2rem;
  background-color: #00ffc8;
  color: black;
}

.dropzone_label {
  background-color: transparent;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 0.6rem;
  font-weight: 1000;
  border: none;
  position: absolute;
  font-family: "Rubik", sans-serif;
  top: 50%;
  transition: 0.4s;
  transform: translate(0, -50%);
  pointer-events: none;
  color: transparent;
}

.file_in {
  color: #00ffc8;
}

.file_preview {
  border-radius: 0.8rem;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  transition: 0.6s;
}
