.container {
  overflow: auto;
  width: 100%;
  display: flex;
  flex:1;
  align-items: center;
  position: relative;
  height: fit-content;
}
.container::-webkit-scrollbar {
  display: none;
}
.carousel {
  display: inline-flex;
  left: 0;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  transition: .1s ease;
}
.animated {
  animation: sliding var(--timing) infinite linear;
  will-change: transform;
}
.animated.to_right {
  animation: slidingToRight var(--timing) infinite linear;
  will-change: transform;
  direction: rtl;
}
.pausable:hover {
  animation-play-state: paused;
}
.element {
  height: 100%;
  flex: 0 0 auto;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes sliding {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes slidingToRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}