.background {
  position: fixed;
  background: radial-gradient(
    circle at 90% 10%,
    var(--main-color-950),
    var(--moonlit-asteroid-700),
    var(--moonlit-asteroid-800) 40%,
    var(--moonlit-asteroid-900)
  );
  height: 100vh;
  width: 100%;
}
.main_container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  padding: 10rem 20rem 20rem 20rem;
  width: 100%;
  overflow: hidden;
}
.button {
  margin: auto;
}

.dashboard {
  color: white;
  width: 100%;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-around;
  background-color: #2b4e79;
  overflow: scroll;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {
  .main_container {
    padding: 0;
  }
}
