@import url('https://fonts.cdnfonts.com/css/cascadia-code');

.codesnap {
  font-size: 2rem;
  font-family: "Cascadia Code", sans-serif;
  white-space: pre;
  border-radius: 2rem;
  backdrop-filter: brightness(55%);
}
