.container {
  border-radius: 0.8rem;
  height: fit-content;
  width: 100dvw;
  height: auto;
  aspect-ratio: 7/4;
  text-align: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  filter: drop-shadow(-6px 6px 2px #00000093);
  scale: 0.4;
  opacity: 0;
  z-index: 100;
}
.container::-webkit-scrollbar {
  display: none;
}
.container.visible {
  opacity: 1;
  scale: 1;
}
.container:hover > .dashboard,
.container:focus > .dashboard,
.container:active > .dashboard,
.container:hover *.content > div:nth-child(3),
.container:focus *.content > div:nth-child(3),
.container:active *.content > div:nth-child(3) {
  opacity: 1;
}
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.4s;
  cursor: zoom-in;
}
.image.zoomed {
  position: static;
  cursor: zoom-out;
}
.details {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.4s;
  font-size: 1.4rem;
  background: radial-gradient(
    circle at 5% 5%,
    var(--main-color-500),
    var(--main-color-600),
    var(--main-color-700),
    var(--main-color-800),
    var(--main-color-900)
  );
}
.content a {
  font-size: 1.4rem;
  text-decoration: none;
}
.content a:hover {
  color: var(--main-color-500);
}
.content > div:nth-child(3) {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 0;
  padding: 0.4rem;
  transition: 0.4s;
  display: flex;
  gap: 0.4rem;
  opacity: 0;
}
.content > div:nth-child(3) > a {
  padding: 0.8rem;
  color: var(--main-color-400);
  background-color: var(--moonlit-asteroid-900);
  transition: color 0.4s, opacity 0.4s;
  width: 50%;
  border-radius: 0.6rem;
  white-space: nowrap;
  transition: 0.4s;
}
.content > div:nth-child(3) > a:hover {
  color: var(--moonlit-asteroid-900);
  background-color: var(--main-color-400);
}
.content > div:nth-child(3) > a:nth-child(1) {
  cursor: default;
}
.dashboard {
  position: absolute;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-around;
  background-color: #2c2b2b56;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  opacity: 0;
  transition: opacity 0.4s;
  bottom: 0;
}
.button {
  margin: 4px 12px 4px 12px;
  padding: 0 12px 0 12px;
  border: none;
  border-radius: 4px;
  padding: 0.6rem 1.2rem;
  color: #fffbff;
  background-color: #121f25;
  border: solid black 0.1rem;
  transition: background-color 0.2s, color 0.2s;
}
.button:focus {
  outline: none;
}
.button:hover {
  color: #121f25;
}
.secondary:hover {
  background-color: #f026df;
}
.success:hover {
  background-color: #21da09;
}
.danger:hover {
  background-color: #f03b26;
}
/*  */
.skeleton {
  width: 100%;
  height: 100%;
  filter: drop-shadow(-6px 6px 2px #000000);
  background-color: #08080814;
  backdrop-filter: brightness(80%) blur(0.8rem);
  position: relative;
}
.skeleton::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    #ffffff00 0,
    #ffffff1a 20%,
    #ffffff29 50%,
    #ffffff1a 80%,
    #ffffff00
  );
  animation: shimmer 3s infinite;
  overflow: hidden;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@media screen and (min-width: 400px) {
  .container {
    width: 32rem;
  }
}
