.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  gap: 16rem;
  padding: 16rem 0;
  position: relative;
}
.hero {
  top: 0;
  position: fixed;
}
.hero > video {
  width: 100%;
  mask-image: linear-gradient(
    180deg,
    transparent 0%,
    black 30%,
    black 70%,
    transparent 100%
  );
  backdrop-filter: blur(1.2rem);
  min-height: 10rem;
}
.quality_attributes {
  display: flex;
  max-width: 80rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.quality_attributes > :nth-child(n) {
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  border-radius: 1.8rem;
  height: 20rem;
  max-width: 38rem;
  min-width: 32rem;
  width: 100%;
  font-weight: 100;
  backdrop-filter: blur(1.6rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.493);
  font-size: 1.4rem;
  padding: 2.4rem;
  justify-content: space-between;
  filter: brightness(160%) saturate(140%);
  color: white;
}
.quality_attributes > :nth-child(n) > span {
  gap: 3.6rem;
}
.quality_attributes > :nth-child(n) > span:nth-child(1) {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  font-size: 1.8rem;
}
.quality_attributes > :nth-child(n) > span:nth-child(1) > i {
  font-size: 3.6rem;
}
