.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  gap: 16rem;
  padding-bottom: 16rem;
  position: relative;
}
.section {
  min-height: 100vh;
  border: none;
  height: fit-content;
  width: 100%;
  max-width: 80rem;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  transition: 1s ease-in-out;
  z-index: 10;
}
.section > div {
  width: inherit;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 0.4rem;
  padding: 0 0 6.4rem 0;
  backdrop-filter: blur(1.2rem);
  mask-image: linear-gradient(
    90deg,
    transparent 3%,
    black 8%,
    black 92%,
    transparent 97%
  );
}
.section > * {
  border-radius: 2rem;
}
.section > div > h2 {
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding: 3.2rem;
  color: var(--main-color-400);
}
.section.right {
  justify-content: right;
  transform: translate(-50vw, 0);
}
.section.right.visible {
  transform: translate(0, 0);
}
.hero {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 200;
  backdrop-filter: blur(0.8rem);
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: 400;
  z-index: 1;
  border-radius: 2rem;
  transition: 0.8s ease-in-out;
  transform: translate(-120vw, 0);
  opacity: 0;
  scale: 0;
  width: 52.8rem !important;
  padding: 6.4rem 0 !important;
}
.hero h1,
h2 {
  font-size: 3.2rem;
  font-weight: 200;
}
.hero h2 {
  display: inline-flex;
  gap: 1rem;
}
.hero b {
  font-size: 6.4rem;
  color: #1cefff;
  font-weight: 100;
}
.hero.visible {
  transform: translate(0, 0);
  scale: 1;
  opacity: 1;
}
.introduction {
  filter: drop-shadow(0 0 1rem #000000cc);
  font-weight: 100;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
}
.background::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at 10% 20%, #273a3d, #071318 40%);
  filter: saturate(140%) brightness(80%);
}
.background::after {
  content: "";
  width: 500vw;
  height: 500vh;
  top: -180vh;
  transform: var(--inclination);
  position: fixed;
  background: repeating-linear-gradient(
      270deg,
      #93939314 0px,
      #93939314 1px,
      transparent 1px,
      transparent 9px
    ),
    repeating-linear-gradient(
      180deg,
      #93939314 0px,
      #93939314 1px,
      transparent 1px,
      transparent 9px
    ),
    linear-gradient(270deg, #000000, #394041);
  filter: saturate(150%) brightness(80%);
}
.over {
  width: 500vw;
  height: 500vh;
  top: -180vh;
  position: fixed;
  transform: var(--inclination);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.blueprint {
  width: 42rem;
  height: 76rem;
  display: flex;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  filter: blur(2px) saturate(120%);
  scale: 1.4;
}
.contact {
  padding: 3.2rem 0 0 0;
  display: flex;
  gap: 1.6rem;
  justify-content: space-around;
  width: 100%;
}
.contact_button {
  width: 50%;
  height: fit-content;
  text-decoration: none;
  text-align: center;
  background-color: var(--moonlit-asteroid-900);
  color: var(--main-color-50);
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  font-family: Rubik;
  transition: 0.4s;
}
.contact_button:hover {
  background-color: var(--main-color-50);
  color: var(--moonlit-asteroid-900);
}
@media screen and (max-width: 800px) {
  .hero {
    width: 100% !important;
  }
  .blueprint {
    scale: 1.2;
  }
  .section {
    border-radius: unset;
  }
  .section > div {
    border-radius: unset;
    mask-image: unset;
  }
}
