.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  gap: 16rem;
  padding-bottom: 16rem;
  position: relative;
}
.over {
  width: var(--bg-w);
  height: var(--bg-h);
  top: var(--bg-t);
  left: var(--bg-l);
  position: fixed;
  transform: var(--bg-transform);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.blueprint {
  width: 42rem;
  height: 76rem;
  display: flex;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  filter: blur(2px) saturate(120%);
  scale: 1.4;
}
