.chat {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  padding: 2rem;
  color: black;
}
.header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
}
.header > button {
  border: none;
  outline: none;
  padding: 0.6rem;
  font-family: "Rubik";
  font-size: 1.6rem;
  font-weight: 500;
  height: fit-content;
  border-radius: 0.4rem;
  transition: 0.2s;
}
.header > button.active,
.header > button.active:hover {
  background-color: black;
  color: white;
}
.header > button:hover {
  background-color: grey;
  color: black;
}
.body {
  width: 100%;
  height: 48rem;
  font-size: 1.4rem;
}
.messages {
  list-style: none;
}
.messages > li {
  display: flex;
}
.messages > li > p {
  margin: 0.2rem 0;
  padding: 0.4rem;
  max-width: 70%;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: grey;
  border-radius: 0.4rem;
}
.messages > li.right {
  justify-content: right;
}
.messages > li.right > p {
  background-color: black;
  color: white;
}
.messages > li.advice > p {
  width: 100% !important;
  max-width: 100%;
  background-color: #ffff00;
  text-align: center;
}
.body > article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dashboard {
  height: 4rem;
  width: 100%;
  border: 2px solid var(--moonlit-asteroid-900);
  border-radius: 1rem;
  transition: 0.4s;
  font-size: 1.4rem;
  position: relative;
}
.dashboard > input {
  height: 100%;
  padding: 1.6rem;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.dashboard > input::placeholder {
  font-family: "Rubik";
  font-size: 1.4rem;
  transition: 0.4s;
}
.dashboard > input:hover::placeholder,
.dashboard > input:focus::placeholder {
  transform: translate(0, -210%);
  opacity: 0;
}
.dashboard > input:focus + button,
.dashboard > button:hover {
  color: black;
}
.dashboard > button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 4rem;
  background: linear-gradient(90deg, transparent 5%, white, white);
  border: none;
  font-size: 2rem;
  transition: 0.4s;
  border-radius: 2rem;
  color: grey;
}
.dashboard > input:hover + button + span,
.dashboard > input:focus + button + span {
  top: -2.4rem;
  background-color: yellow;
  opacity: 1;
}
.dashboard > span {
  position: absolute;
  top: 1.7rem;
  left: 0.8rem;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: 0.4s;
  padding: 0.8rem;
  border-radius: 0.8rem;
  opacity: 0;
}
@media screen and (min-width: 430px) {
  .chat {
    width: 40rem;
    height: 60rem;
    border-radius: 2rem;
  }
}
