.container {
  overflow: scroll;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10rem) brightness(80%);
}

.container * ::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.navbar_header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 2vw;
  width: inherit;
  height: inherit;
}

.itemlist {
  color: transparent;
  font-size: 3rem;
  margin: 0;
  border-radius: 6px;
  font-size: 2.8rem;
  display: flex;
  overflow-y: scroll;
  height: inherit;
  align-content: center;
  justify-content: left;
  align-items: center;
  transition: 0.4s;
  padding: 0 0.4rem;
}

.button {
  display: none;
  color: white;
}

.search_icon {
  transition: color 0.4s;
  font-weight: 1000;
  position: relative;
  right: 3rem;
  color: #fff;
}
.search_icon.selected {
  color: #00deae;
}

.search_input {
  background-color: transparent;
  border: none;
  outline: none;
  color: whitesmoke;
  padding: 0 1rem;
  border: solid white 1px;
  border-radius: 4rem;
  padding: 0.4rem 3rem 0.4rem 2rem;
  transition: border 0.4s, width 0.4s;
  width: 25rem;
}

.search_input:focus {
  border: solid #00deae 1px;
  width: 30rem;
}

.submit_search {
  background-color: transparent;
  border: none;
  width: 0;
}

.link {
  z-index: 1;
  list-style: none;
  padding: 0;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 1000;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-style: none !important;
  position: relative;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .search_input {
    width: 15rem;
  }
  .search_input:focus {
    width: 25rem;
  }
}

@media screen and (max-width: 830px) {
  .container {
    backdrop-filter: none;
    background-color: #00000065;
  }
  .itemlist {
    backdrop-filter: blur(10rem) brightness(0.4);
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0;
    height: 0;
  }
  .itemlist.show {
    padding: 2rem;
    height: 100%;
  }
  .button {
    z-index: 10;
    display: block;
    right: 15px;
    top: 2rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .itemlist {
    width: 100%;
  }
  .button {
    font-size: 3rem;
  }
}
