.navbar_container {
  position: relative;
  backdrop-filter: blur(10rem) brightness(80%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  overflow: scroll;
  height: fit-content;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80rem;
}

.navbar * ::-webkit-scrollbar {
  display: none;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar_header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: "space-between";
}

.navbar_header > a {
  padding-left: 4rem;
}

.navbar_header > a > div {
  width: 4rem;
  height: 4rem;
}

.navbar_header > a > div > svg {
  filter: drop-shadow(-8px 6px 1px #000000cc);
}

.navbar_indexes {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 3rem;
  width: fit-content;
  height: inherit;
  position: relative;
}

.page_settings {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 4rem;
  position: absolute;
  right: 0;
  top: 6rem;
}

.languages {
  padding: 0.8rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.8rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--main-color-400);
  -webkit-text-stroke: var(--main-color-950) 0.8px;
  transition: 0.4s;
  filter: drop-shadow(-6px 4px 1px #000000cc);
}

.languages:hover {
  scale: 1.2;
}

.languages option * {
  background-color: transparent;
  padding: 1.8rem !important;
}

.languages option:checked {
  background-color: var(--main-color-950);
}

.itemlist {
  color: transparent;
  font-size: 3rem;
  margin: 0;
  border-radius: 6px;
  font-size: 2.8rem;
  display: flex;
  overflow-y: scroll;
  height: inherit;
  align-content: center;
  justify-content: left;
  align-items: center;
  transition: 0.4s;
}

.button {
  display: none;
  color: white;
}
.link {
  z-index: 1;
  list-style: none;
  padding: 0;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 1000;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-style: none !important;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #00d0e5;
  padding: 1rem 0.8rem;
  transition: 0.4s;
  border-bottom: solid transparent 1px;
}
.link:hover,
.link:focus {
  transform: translate(0, -0.4rem);
  border-bottom: solid #1cefff 1px;
}
.selected {
  transform: translate(0, -0.4rem);
  border-bottom: solid #1cefff 1px;
}
.avatar {
  transition: border 0.4s;
  border-bottom: none;
}
.avatar:hover,
.avatar:focus {
  border-bottom: none;
  transform: translate(0, 0);
}
.avatar > img {
  height: 3.4rem;
  width: 3.4rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 4rem;
  border: 2px solid #033949;
  padding: 0;
  transition: 0.4s;
}
.avatar:hover > img,
.avatar:focus > img {
  border: 2px solid #1cefff;
}

@media screen and (max-width: 830px) {
  .container {
    backdrop-filter: none;
    background-color: #00000065;
  }
  .itemlist {
    backdrop-filter: blur(10rem) brightness(0.4);
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0;
    height: 0;
  }
  .itemlist.show {
    padding: 2rem;
    height: 100%;
  }
  .button {
    z-index: 10;
    display: block;
    right: 15px;
    top: 2rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .itemlist {
    width: 100%;
  }
  .button {
    font-size: 3rem;
  }
}
