.typing_container {
  font-weight: 600;
  width: fit-content;
  display: flex;
}
.typing_container span {
  position: relative;
  margin-right: 0.6rem;
}
.typing_container span::before {
  content: "Backend";
  color: #339933;
  animation: words 24s infinite;
  width: fit-content;
}
.typing_text {
  content: "";
  background-color: transparent;
  width: fit-content;
  height: 100%;
  border-right: 0.2rem solid #0fcae7;
  animation: cursor 0.6s infinite, typing 24s steps(14) infinite;
  overflow: hidden;
}
@keyframes cursor {
  to {
    border-right: 0.2rem solid #2f3542;
  }
}
@keyframes words {
  0%,
  16% {
    content: "Backend";
    color: #339933;
  }
  17%,
  33% {
    content: "Frontend";
    color: #61dafb;
  }
  34%,
  50% {
    content: "Fullstack";
    color: #e0234e;
  }
  51%,
  66% {
    content: "Python";
    color: #3776ab;
  }
  67%,
  83% {
    content: "Javascript";
    color: #f7df1e;
  }
  84%,
  100% {
    content: "Typescript";
    color: #3178c6;
  }
}
@keyframes typing {
  0%,
  4%,
  16%,
  20%,
  32%,
  36%,
  48%,
  52%,
  64%,
  68%,
  80%,
  84%,
  96%,
  100% {
    width: 0%;
  }

  8%,
  12%,
  24%,
  28%,
  40%,
  44%,
  56%,
  60%,
  72%,
  76%,
  88%,
  92% {
    width: 100%;
  }
}
