.header {
  font-size: 1.8rem;
  width: 100%;
  height: fit-content;
  z-index: 100;
  top: 0;
  position: sticky;
}
.content {
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  --bg-transform: perspective(100rem) rotateX(55deg) rotateY(0deg)
    rotateZ(30deg);
  --bg-w: 500vw;
  --bg-h: 500vh;
  --bg-l: -200vw;
  --bg-t: -200vh;
}
.live_chat {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  z-index: 1;
}
.chat_button {
  padding: 1.2rem;
  width: fit-content;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 0.8rem;
  background-color: #ff1493;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  outline: none;
  border: none;
  position: relative;
}
.chat_button.online {
  background-color: #007fff;
}
.chat_button.hidden {
  transform: translate(12rem, 0);
}
.chat_button:hover {
  background-color: black;
}
.chat_button > i {
  font-size: 2.8rem;
  transition: 0.4s;
}
.chat_button > span {
  width: 200%;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Rubik";
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #ff1493;
  transition: transform 0.4s, opacity 0.2s;
  opacity: 0;
  z-index: -1;
  padding: 1.2rem;
  border-radius: 0.8rem;
}
.chat_button > span.online {
  background-color: #007fff;
}
.chat_button:hover > i {
  color: #ff1493;
}
.chat_button:hover > span {
  transform: translate(-100%, -50%);
  opacity: 1;
}
.chat_button:hover > i.online {
  color: #007fff;
}
.chat_container {
  display: relative;
  height: 0;
  width: 0;
}
.chat_container > div {
  display: absolute;
  transform: translate(12rem, -60rem);
  transition: 0.6s;
}
.chat_container > div.visible {
  display: absolute;
  transform: translate(-36rem, -60rem);
}
.chat_container > div > button {
  position: absolute;
  border: none;
  font-size: 4rem;
  padding: 1rem;
  transition: 0.4s;
  background-color: transparent;
}
.chat_container > div > button:hover {
  padding-left: 2rem;
}
.banner {
  color: #00deae;

  font-size: 3.4rem;
  transition: color 0.4s;
}
.banner:hover {
  color: #f026df;
}
.avatar {
  height: 3.4rem;
  width: 3.4rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 4rem;
  border: 2px solid #033949;
  transition: border 0.4s;
}
.avatar:hover {
  border: 2px solid #1cefff;
}
@media screen and (max-width: 1360px) {
  .content {
    min-height: 80vh;
  }
}
@media screen and (max-width: 900px) {
  .avatar {
    height: 5.4rem;
    width: 5.4rem;
  }
  .live_chat {
    right: 2rem;
    bottom: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .content {
    --bg-transform: perspective(100rem) rotateX(45deg) rotateY(0deg)
      rotateZ(15deg);
  }
  .banner {
    font-size: 2.6rem;
  }
  .avatar {
    height: 5rem;
    width: 5rem;
  }
}
