:root {
  --coat-gap: 0.6rem;
  --font-size: 11.2rem;
  --animation-duration: 80s;
  --blur-radius: 10rem;
  --brightness: 180%;
  --contrast: 150%;
  --coat-width: 40rem;
}

.coat_of_arms {
  width: var(--coat-width);
  height: auto;
  aspect-ratio: 1 / 1;
  transform: rotateZ(45deg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--coat-gap);
}

.coat_of_arms > span {
  border-radius: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  background-size: 800% !important;
  animation: glowing var(--animation-duration) linear infinite;
  backdrop-filter: blur(var(--blur-radius)) saturate(180%)
    brightness(var(--brightness));
  --deg: 45deg;
  --background: linear-gradient(var(--deg), cyan, magenta, blue, magenta, cyan);
  background: var(--background);
  box-shadow: 0 0 1rem black;
  will-change: background;
}

.coat_of_arms > span::before {
  content: "";
  position: absolute;
  left: calc(0% + 2px);
  top: calc(0% + 2px);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: inherit;
  z-index: -100;
  background-image: radial-gradient(
      circle at center center,
      transparent 0%,
      rgb(33, 33, 33) 75%
    ),
    repeating-linear-gradient(
      45deg,
      #909a9f33 0px,
      #a3a3a333 1px,
      transparent 1px,
      transparent 6px
    ),
    repeating-linear-gradient(
      135deg,
      #a3a3a333 0px,
      #a3a3a333 1px,
      transparent 1px,
      transparent 6px
    ),
    linear-gradient(45deg, #212121, #212121);
}

.coat_of_arms > span > i {
  font-size: var(--font-size);
  transform: rotateZ(-45deg);
  background-size: 1000% !important;
  animation: glowing var(--animation-duration) linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  --deg: 90deg;
  background: var(--background);
  background-clip: text;
  filter: contrast(var(--contrast)) brightness(80%);
  will-change: background;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --coat-width: 80rem;
    --coat-gap: 1.2rem;
    --font-size: 22.4rem;
  }

  .coat_of_arms > span::before {
    left: calc(0% + 4px);
    top: calc(0% + 4px);
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }
}
