.main_container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  flex-wrap: wrap;
  width: auto;
}
.body {
  width: 90rem;
}
@media screen and (max-width: 900px) {
  .body {
    width: 100%;
  }
}
