.footer {
  height: fit-content;
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  background-color: var(--main-color-950);
  position: relative;
  bottom: 0;
  padding: 4rem 0;
  z-index: 2;
}
.separator {
  display: none;
  display: none;
  height: 24rem;
  border: 1px solid var(--moonlit-asteroid-900);
}
.section {
  min-width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  justify-content: center;
  position: relative;
  height: fit-content;
  height: fit-content;
}
.section > h3 {
  font-size: 2rem;
  top: 0;
  top: 0;
  color: white;
  font-weight: 500;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.contact_icons {
  display: flex;
  width: 100%;
  gap: 4rem;
  justify-content: center;
}
.contact_icons {
  display: flex;
  width: 100%;
  gap: 4rem;
  justify-content: center;
}
.contact_icon > div {
  width: 3.4rem;
  height: 3.4rem;
}
.contact_icon > div > svg {
  filter: drop-shadow(-6px 6px 1px #000000b3);
}
.contact_button {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  background-color: var(--moonlit-asteroid-900);
  color: var(--main-color-50);
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  font-family: Rubik;
  transition: 0.4s;
  font-size: 2rem;
}
.contact_button:hover {
  background-color: var(--main-color-50);
  color: var(--moonlit-asteroid-900);
}

@media screen and (min-width: 1030px) {
  .footer {
    min-height: 40rem;
    z-index: 1;
  }
  .separator {
    display: block;
  }
  .section {
    width: fit-content;
    flex-direction: row;
    height: 40rem;
    padding: 0;
  }
  .section > h3 {
    top: 4rem;
    position: absolute;
  }
}
