:root {
  --border-radius: 0.6rem;
  --background-image: url("https://armsystem.com.mx/img/intro-carousel/4.jpg");
  --background-color: black;
  --main-color-50: #eafffe;
  --main-color-100: #cbfffe;
  --main-color-200: #9effff;
  --main-color-200b: #9effff93;
  --main-color-300: #5bfbff;
  --main-color-300b: #5bfbff93;
  --main-color-400: #1cefff;
  --main-color-400b: #1cefff93;
  --main-color-500: #00d0e5;
  --main-color-500b: #00d0e593;
  --main-color-600: #00a6c0;
  --main-color-600b: #00a6c093;
  --main-color-700: #03839b;
  --main-color-700b: #03839b93;
  --main-color-800: #0d697d;
  --main-color-800b: #0d697d93;
  --main-color-900: #105769;
  --main-color-900b: #10576993;
  --main-color-950: #033949;
  --main-color-950b: #03394993;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: Rubik, "Quicksand", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /* ? scheme_color: darker */
  background-color: #0f2027;
  /* ? schema_color: lighter */
  /* background-color: #f0fafb; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Rubik, "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e2e2e2;
  /* transform-style: preserve-3d;  */ /* ⬅️ delete the effect of backdrop filter */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
