:root {
  --border-radius: 0.6rem;
  --background-image: url("https://armsystem.com.mx/img/intro-carousel/4.jpg");
  --background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
}

body {
  /* ? scheme_color: darker */
  background-color: #121f25;
  /* ? schema_color: lighter */
  /* background-color: #fffbff; */
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e2e2e2;
  /* transform-style: preserve-3d;  */ /* ⬅️ delete the effect of backdrop filter */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
