.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  gap: 16rem;
  padding: 16rem 0;
  position: relative;
}
.quality_attributes {
  display: flex;
  max-width: 90rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}
.card {
  text-decoration: none;
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  border-radius: 1.8rem;
  max-width: 38rem;
  width: 100%;
  height: auto;
  aspect-ratio: 5/3;
  font-weight: 100;
  backdrop-filter: blur(4rem) brightness(240%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.493);
  font-size: 1.4rem;
  padding: 2.4rem;
  font-weight: 200;
  justify-content: space-between;
  color: white;
  transform: scale(0.5);
  opacity: 0;
  transition: 0.4s;
  overflow: hidden;
}
.card.visible {
  transform: scale(1);
  opacity: 1;
}
.card > span {
  gap: 1.8rem;
}
.card > span:nth-child(1) {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  font-weight: 500;
  font-size: 1.6rem;
}
.card > span:nth-child(1) > i {
  font-size: 3.6rem;
}
.bg {
  border-radius: inherit;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(2rem) saturate(180%) brightness(80%);
  z-index: -1;
  background: rgba(20, 20, 20, 0.523);
}
@media screen and (max-width: 489px) {
  .quality_attributes {
    gap: 1.2rem;
  }
  .card {
    aspect-ratio: unset;
    width: 100%;
    max-width: unset;
    border-radius: unset;
  }
}
