.container {
  height: 200px;
  overflow: hidden;
  width: 100vw;
}

.slider {
  display: inline-flex;
  height: 100%;
  width: auto;
  -moz-animation: sliding 20s infinite linear;
  -webkit-animation: sliding 20s infinite linear;
  animation: sliding 20s infinite linear;
}

.slide {
  height: 100%;
  flex: 0 0 auto;
  text-align: center;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to_right {
  -moz-animation: slidingToRight 20s infinite linear;
  -webkit-animation: slidingToRight 20s infinite linear;
  animation: slidingToRight 20s infinite linear;
}

@keyframes sliding {
  to {
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes slidingToRight {
  to {
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}
